body{
    background-color: bisque;
}

.library div{
    border: 1px solid black;
}
.library{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1;
}
.library-header{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-weight: bold;

}
.table-header{
    grid-row:1;
}