body{
    background-color: bisque;
}

.library div{
    border: 1px solid black;
}
.library{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 5;
}
.table-header{
    grid-row:1;
}