body{
    background-color: bisque;
    height:100%;
}

.container{
    display:flex;
    size: page;
    
}
.library div{
    border: 1px solid black;
}
.library{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1;
    flex:1;

}
.library-header, .item-row{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 50px repeat(5, 1fr) 100px 100px;

}

.library-header{
    font-weight: bold;
}

.table-header{
    grid-row:1;
}


/* Form styles */
.form-popup {
    /* display: none; */
    width: 50%;
    display:flex;
    flex-direction: column;
    
}

.form-container {
    flex:1;
    padding: 10px;
    width: 50%;
    background-color: white;
    display:flex;
    flex-direction: column;
}

button#submitBook{
    width:200px;
}

